<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Components Page</title>
  </head>
  <body>
    <header>
      <nav class="topnav" id="myTopnav">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#our_work">Our Work</a>
        <a href="#contact">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </nav>
    </header>

    <!-- Slideshow container -->
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="images/img1.jpg" class="hero_img" alt="wire framing" />
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="images/img2.jpg" class="hero_img" alt="working anywhere" />
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="images/img3.jpg" class="hero_img" alt="office space" />
      </div>

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br />

    <!-- The dots/circles -->
    <div class="dots">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <h1 class="subheading">Our Team</h1>
    <main>
      <div class="grid-container">
        <div class="card">
          <img src="images/webdev6.jpg" alt="Mark Bell" style="width: 100%" />
          <h2>Mark Bell</h2>
          <p class="title">CEO & Founder</p>
          <p>Harvard University</p>
          <div style="margin: 24px 0">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <p class="btn"><button>Contact</button></p>
        </div>

        <div class="card">
          <img src="images/webdev5.jpg" alt="Mary" style="width: 100%" />
          <h2>Mary Smith</h2>
          <p class="title">Strategist</p>
          <p>BYU Idaho</p>
          <div style="margin: 24px 0">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <p class="btn"><button>Contact</button></p>
        </div>

        <div class="card">
          <img src="images/webdev8.jpg" alt="Mary" style="width: 100%" />
          <h2>Zac Moore</h2>
          <p class="title">UX Designer</p>
          <p>BYU Idaho</p>
          <div style="margin: 24px 0">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <p class="btn"><button>Contact</button></p>
        </div>

        <div class="card">
          <img src="images/webdev4.jpg" alt="John" style="width: 100%" />
          <h2>John Doe</h2>
          <p class="title">Senior developer</p>
          <p>Harvard University</p>
          <div style="margin: 24px 0">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <p class="btn"><button>Contact</button></p>
        </div>
      </div>
    </main>

    <footer>
      <p class="copyright">Copyright &copy; 2022 by Components ltd.</p>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
