/* Import font family Inter and Lato */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333333;
}

/*************************/
/* GENERAL COMPONENTS */
/*************************/
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333333;
  letter-spacing: -0.5px;
  font-family: "Inter", sans-serif;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.4rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #f59f00;
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #e9851a;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

/*************************/
/* HEADER */
/*************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5ff;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 5.2rem;
}

/*************************/
/* NAVIGATION */
/*************************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 7.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e9851a;
}

/*************************/
/* HERO SECTION */
/*************************/
.section-hero {
  background-color: #e7f5ff;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 140rem;
  padding: 0 3.2rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/*************************/
/* INFO SECTION  */
/*************************/
.section1-z-pattern,
.section2-z-pattern {
  padding: 9.6rem 0;
}

.section3-z-pattern,
.section-z-pattern {
  padding: 9.6rem 0 12.8rem 0;
}

.section2-z-pattern {
  background-color: #e3fafc;
}

.info-img {
  width: 100%;
}

.info-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* .info-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.section-strapline {
  padding: 4.8rem 0 0 0;
}

.heading-strapline {
  font-size: 3.6rem;
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;
  font-family: "Inter", sans-serif;
}

/*************************/
/* FOOTER */
/*************************/
.footer {
  padding: 12.8rem 0 4.8rem 0;
  border-top: 1px solid #eeeeee;
}

.grid--footer {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 3rem;
  width: 3rem;
}

.copyright {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #767676;
  text-align: center;
  padding-top: 3.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3.6rem;
  font-family: "Inter", sans-serif;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: -0.5rem;
}

.address {
  margin-bottom: 1rem;
  color: #767676;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555555;
}

/*************************/
/* OUR MISSION SECTION */
/*************************/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem;
}

.gallery-item img {
  display: block;
  border-radius: 50%;
  width: 100%;
}

/*************************/
/* CONTACT PAGE FORM */
/*************************/
.map {
  border: 1px solid #cccccc;
}

.wrapper {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Full width */
  font-family: "Lato", sans-serif;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea {
  height: 100px;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #f59f00;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 20px;
}

/* When moving the mouse over the submit button, add a darker yello color */
input[type="submit"]:hover {
  background-color: #e9851a;
  border: none;
}

label {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

/*************************/
/* MEDIA QUERIES */
/*************************/

@media (max-width: 84em) {
  .hero {
    max-width: 130rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }
}

@media screen and (max-width: 48em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
}
